.toparea {
    background-image: url('../img/oppwindow_knoxville_1.png');
    background-size: cover;
    background-position: center center;
}

.bg-dark h1, .bg-dark h2, .bg-dark h3,
.bg-dark p {
    color: white;
}