.toparea {
    background-image: url('../img/oppwindow_knoxville_1.png');
    background-size: cover;
    background-position: center center;
}

.bg-primary {
    background-color: blue;
}

.bg-dark h1, .bg-dark h2, .bg-dark h3,
.bg-dark p {
    color: white;
}
H1,H2,H3{
    color: rgb(36, 37, 133);
}
.btn-success{
    background-color: rgb(61, 136, 27);
}


.btn-success:hover{
    background-color: rgb(19, 82, 8);
}

a:hover{
    color:rgb(61, 136, 27);
}

#imgFrount{
    width: 95%;
}